<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating_INFO</title>
</head>

<body>
    <section class="hero is-dark is-medium is-bold">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        
      
             </div>
           </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        CONTEST_INFO
      </h1>
      <h2 class="subtitle">
        All contests details at one place
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
        </ul>
      </div>
    </nav>
  </div>
</section>
        <br>
        <br>
    <form  align="center" id="plotForm"> 
        <input type="text" placeholder="Enter your Codeforces Name" class="input is-info" id="userName">
        <br><br>
        <button id="ratingBtn" class="button is-black" >Click Me</button>
    </form>
    <br>
    <br>
    <div id="graph"></div>
    <br><br>

    <footer class="hero is-dark is-bold">
        <br>
        <br>    
        <center>
            <p>Made by : Avash Mitra</p>
            <p>Check out GITHUB repository of this project </p>
            <a href="https://github.com/Avash027/CONTEST_INFO">HERE</a>
        </center>
    </footer>
</body>
    <script src="/js/data.js"></script>
</html>