<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form  align="center" id="plotForm"> 
        <input type="text" placeholder="Enter your Codeforces Name" class="input is-info" id="userName">
        <br><br>
        <button id="ratingBtn" class="button is-black" >Click Me</button>
    </form>
    <br>
    <br>
    <div id="graph"></div>
</body>
    <script src="/js/data.js"></script>
</html>