<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>
    <style>
        .footer {
            vertical-align: baseline;
        }
    </style>
    <section class="hero is-dark is-medium is-bold">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>


                </div>
        </div>
        </div>
        </div>
        </div>
        </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    CONTEST_INFO
                </h1>
                <h2 class="subtitle">
                    All contests details at one place
                </h2>
            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <br><br>

    <section class="section">
        <div class="container">
            <center>
                <div class="column">
                    <div class="notification is-primary" align="center" style="height: 400px;width:400px;">
                        <h1>To know about upcoming contests on <strong>CodeChef</strong> and <strong>Codeforces</strong>
                        </h1>
                        <br><br>
                        <a href="/index">
                            <img src="/image/search.png" alt="CLICK HERE" style="height: 200px;width:200px;">
                        </a>
                    </div>
                </div>
            </center>
            <center>
                <div class="column">
                    <div class="notification is-info" align="center" style="height: 400px; width:400px;">
                        <h1>To check out your rating on <strong>CODEFORCES</strong> </h1>
                        <br><br>
                        <a href="/data">
                            <img src="/image/graph.png" alt="CLICK HERE" style="height: 200px;width:200px;">
                        </a>
                    </div>
            </center>


        </div>
        </div>
    </section>
    <br><br>

    <footer class="hero is-dark is-bold footer">
        <br>
        <br>
        <center>
            <p>Made by : Avash Mitra</p>
            <p>Check out GITHUB repository of this project </p>
            <a href="https://github.com/Avash027/CONTEST_INFO">HERE</a>
        </center>
    </footer>
</body>

</html>